

trace(){
 echo 1>&2 "[.] $@"
}

 print_line(){
  echo 1>&2 '---------------------------------'
 }
 
 commander(){
 local args=( $@ ) 
 local cmd="${args[@]}"
 print_line
 echo ">>>> $cmd"
 eval "$cmd" 
 #1>/tmp/out 2>/tmp/err || { print_line; cat /tmp/out; print_line; cat /tmp/err; exit 1; }
 echo
 }
 
 mute(){
 local args=( $@ ) 
 local cmd="${args[@]}"
 print_line
 echo ">>>> $cmd"
 eval "$cmd" 1>/tmp/out 2>/tmp/err || { print_line; cat /tmp/out; print_line; cat /tmp/err; exit 1; }
 echo
 }
 
 
breaking(){
 echo 
 echo Empty line!
 echo
 echo breaking..
 break
}

export -f trace
export -f commander
export -f print_line
export -f breaking
export -f mute

